


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
/* 100% so images don't overflow */
}

body {
  font-family: "sans-serif";
overflow: auto;
}


a {
  font-family: inherit;
/* inherit checks which font family is in body and places it in anchor as well */
  text-decoration: none;
}


/* Menu Button */
.menu-btn {
position: absolute;
right: 80px;
margin-top: 50px;
z-index: 99999999;
}

.menu-btn button {
background-color: transparent;
font-size: 36px;
color: #000;
border: none;
cursor: pointer;
}

/* Header */
.header {
  position: absolute;
  right: 0;
 height: 0;
 overflow: hidden;
  width: 200px;
   

 
}

.header.open {
    transition: all 1s ease-in-out;
height: 100vh;
width: 50vw;
font-weight: bold;
background-color: var(--background-overlay);

}



.header nav ul{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 21vh;
}



/* homepage */
.homepage {
  background: url("./showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.homepage .overlay {
  background-image: var(--background-image);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}
.homepage .overlay h1 {
  text-transform: uppercase;
  font-size: 96px;
    text-align: center;

}

.homepage .overlay p {
  font-size: 36px;
    text-align: center;

}

.homepage .overlay ul {
  display: flex;
  align-items: center;
  justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.homepage .overlay ul li {
margin: 0 20px;
}

.homepage .overlay a {
  font-size: 30px;
}

/* projects */
.projects {
  background: url("./showcase.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.projects h1 {
  padding: 50px 80px;

}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1100px;
  margin: auto;
  gap: 20px;
}

.projects .cards h4 {
  font-size: 24px;
  margin: 20px 0 10px;
}

.projects .cards p {
  font-size: 18px;
  margin-bottom: 30px;
}

.projects .cards ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects .cards ul li a.github{
  background-color: #333;
  padding: 5px;
  font-size: 15px;
  color: #fff;
}

.projects .cards ul li a.demo{
background-color: rgb(22, 161, 216);
  padding: 5px;
  font-size: 15px;
  color: #fff;
}


/* contacts */
.contacts {
  background: url("./showcase.jpg");
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  text-align: center; 

}
.contacts ul {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

}

.contacts ul li {
margin: 10px 0;

}

.contacts ul li a {
font-size: 30px;
}

.contacts h1 {
  padding: 50px 80px;
}

/* scaling down text and properties */

@media (max-width: 1150px) {
.projects .cards {
  padding: 0 20px 20px;
}
}

@media (max-width: 992px) {
  .homepage .overlay h1 {
    font-size: 64px;
  }
}

@media (max-width: 768px) {
  .projects .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 500px) {
  .menu-btn {
    right: 30px;
  }
  .homepage .overlay h1 {
    font-size: 30px;
  }

    .homepage .overlay p {
      font-size: 20px;
      margin-top: 20px;
    }
    
    .homepage .overlay ul li a {
      font-size: 24px;
    }

    .contacts ul li a {
      font-size: 18px;
    }
    
    .contacts h1, 
    .projects h1 {
    padding: 50px 30px;
    }

     .projects .cards {
    grid-template-columns: 1fr;
  }
}

